<template name="billingInfo">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="required">
          <i class="text-success fa fa-lock fa-2x"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-cc-amex fa-2x"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-cc-visa fa-2x"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-cc-mastercard fa-2x"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-cc-discover fa-2x"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-cc-jcb fa-2x"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-cc-diners-club fa-2x"></i>&nbsp;&nbsp;&nbsp;
        </label>
        <input type="text" data-stripe="cardNumber" class="form-control card-number" placeholder="Card Number">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <label class="required">Expiration Month</label>
      <select data-stripe="expMo" class="form-control">
        <option value="">--</option>
        {{#each expMonth}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-xs-4">
      <label class="required">Expiration Year</label>
      <select data-stripe="expYr" class="form-control">
        <option value="">--</option>
        {{#each expYear}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-xs-4">
      <label class="required">CVC</label>
      <input type="text" data-stripe="cvc" class="form-control cvc" placeholder="CVC">
    </div>
  </div>
</template>
