<template name="assistantOrder">
  <div class="container">
    <form>
      <div class="row">
        <h2>Booth Assistant Order Form</h2>
        <h3>Event Information</h3>
        <div class="col-md-2">
          <div class="form-group {{errorClass 'eventLocation'}}">
            <label for="type" class="required">Century Location</label>
            <select class="form-control" name="eventLocation">
              <option value="">Select a City</option>
              {{#each eventLocations}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
            <span class="help-block">{{errorMessage 'eventLocation'}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group {{errorClass 'eventName'}}">
            <label for="eventName" class="required">Event Name</label>
            <input type="text" class="form-control" name="eventName">
            <span class="help-block">{{errorMessage 'eventName'}}</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group {{errorClass 'boothNumber'}}">
            <label for="boothNumber">Booth Number</label>
            <input type="text" class="form-control" name="boothNumber">
            <span class="help-block">{{errorMessage 'boothNumber'}}</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group {{errorClass 'eventDate'}}">
            <label for="eventDate" class="required">First Event Date</label>
            <div class="input-group">
              <input type="text" class="form-control datepicker" name="eventDate" id="eventDate">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            <span class="help-block">{{errorMessage 'eventDate'}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'exhibitorName'}}">
            <label for="exhibitorName" class="required">Exhibitor Name</label>
            <input type="text" class="form-control" name="exhibitorName">
            <span class="help-block">{{errorMessage 'exhibitorName'}}</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'contactNumber'}}">
            <label for="contactNumber" class="required">Contact Number</label>
            <input type="tel" class="form-control" name="contactNumber">
            <span class="help-block">{{errorMessage 'contactNumber'}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>Contact Persons</h3>
        <div class="col-sm-3">
          <div class="form-group {{errorClass 'firstName1'}}">
            <label for="firstName1" class="required">First Name</label>
            <input type="text" class="form-control" name="firstName1">
            <span class="help-block">{{errorMessage 'firstName1'}}</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group {{errorClass 'lastName1'}}">
            <label for="lastName1" class="required">Last Name</label>
            <input type="text" class="form-control" name="lastName1">
            <span class="help-block">{{errorMessage 'lastName1'}}</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'phone1'}}">
            <label for="phone1" class="required">Phone Number</label>
            <input type="text" class="form-control" name="phone1">
            <span class="help-block">{{errorMessage 'phone1'}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="firstName2">First Name</label>
            <input type="text" class="form-control" name="firstName2">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="lastName2">Last Name</label>
            <input type="text" class="form-control" name="lastName2">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="phone2">Phone Number</label>
            <input type="text" class="form-control" name="phone2">
          </div>
        </div>
      </div>
      <div class="row">
        <h3>Pricing Information</h3>
        <div class="col-md-6">
          <table class="table text-center">
            <tr>
              <th class="text-center lead">Assistants/Rates</th>
              <th class="text-center">Host/Hostess</th>
              <th class="text-center">Bilingual Host/Hostess</th>
            </tr>
            <tr>
              <th class="text-center">Pre-Order</th>
              <td>$25.00</td>
              <td>$30.00</td>
            </tr>
            <tr>
              <th class="text-center">On-Site</th>
              <td>$31.00</td>
              <td>$36.00</td>
            </tr>
            <tr>
              <th class="text-center">Pre-Order Overtime</th>
              <td>$37.50</td>
              <td>$45.00</td>
            </tr>
            <tr>
              <th class="text-center">On-Site Overtime</th>
              <td>$46.50</td>
              <td>$54.00</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          {{#if dateMinus21}}
            Advance payment must be received by <strong>{{dateMinus21}}</strong> to qualify for
            discount (pre-order rates). On-Site rates apply to all orders/payments received after
            <strong>{{dateMinus21}}</strong>. All payments must be made in full by check or money
            order (payable in U.S. Funds on U.S. Banks) or credit card (paid below on this form).
            No purchase orders accepted.
          {{/if}}
        </div>
      </div>
      <div class="row">
        <h3>Assistants Required</h3>
        <span class="help-block lead" style="color:red;">{{errorMessage 'workTime'}}</span>
        {{#each workTime}}
          {{> workTimesAssistant}}
        {{/each}}
      </div>
      <div class="row">
        <div class="col-sm-offset-9 col-sm-3">
          <button type="button" class="btn btn-info" id="moreWorkTimes">Add Another Time</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="comments">Special Instructions for Assistants</label>
            <textarea class="form-control" row="6"></textarea>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="clothes">Type of Apparel to be Worn</label>
            <select class="form-control" name="clothes">
              <option value="">--</option>
              <option value="business casual">Business Casual</option>
              <option value="professional attire">Professional Attire</option>
              <option value="client">Client to Provide</option>
              <option value="tbd">To be Determined</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Host/Hostess Hours: </strong>{{displayCurrency totalNormal}}
        </div>
        <div class="col-md-3">
          <strong>Bilingual Host/Hostess Hours: </strong>{{displayCurrency totalBil}}
        </div>
        <div class="col-md-3">
          <strong>Host/Hostess Overtime: </strong>{{displayCurrency totalNormalOvertime}}
        </div>
        <div class="col-md-3">
          <strong>Bilingual Host/Hostess Overtime: </strong>{{displayCurrency totalBilOvertime}}
        </div>
      </div>
      <div class="row">
        <h3>Billing Information</h3>
        <div class="col-sm-3">
          <div class="form-group {{errorClass 'type'}}">
            <label for="paymentMethod" class="required">Payment Method</label>
            <select class="form-control" name="paymentMethod">
              <option value="">Select a Payment Method</option>
              <option value="noncredit">Company Check or Money Order</option>
              <option value="credit">Credit Card</option>
            </select>
          </div>
        </div>
        <div class="col-sm-9 text-right">
          {{#if paymentMethod.credit}}
            <strong>Sub-Total:</strong> <i class="fa fa-usd"></i>{{displayCurrency totalPrice}}<br/>
            <strong>Credit Card Fee (3%):</strong> <i class="fa fa-usd"></i>{{displayCurrency paymentMethod.ccFee}}<br/>
            <strong>Total:</strong> <i class="fa fa-usd"></i>{{displayCurrency paymentMethod.finalPrice}}
          {{/if}}
          {{#unless paymentMethod}}
            <strong>Sub-Total:</strong> <i class="fa fa-usd"></i>{{displayCurrency totalPrice}}<br/>
          {{/unless}}
          {{#if paymentMethod.noncredit}}
            <strong>Total:</strong> <i class="fa fa-usd"></i>{{displayCurrency totalPrice}}<br/>
          {{/if}}
        </div>
      </div>
      {{#if paymentMethod.selected}}
        {{#if paymentMethod.noncredit}}
          <div class="row">
            {{> billingAddress}}
            <center>
              <h3>Remit Payment To:</h3>
              <p class="lead">Century Security & Event Staffing, Inc.<br/>
              6421 Pinecastle Blvd. (Suite 1)<br/>
              Orlando, FL 32809</p>
            </center>
          </div>
        {{else}}
          {{> billingAddress}}
          {{> billingInfo}}
        {{/if}}
        <div class="row">
          <center>
            <button type="submit" class="btn btn-primary">Book Order</button>
          </center>
        </div>
      {{/if}}
    </form>
  </div>
</template>
