<template name="assistantOrder">
  <div class="container">
    <form>
      <div class="row">
        <h2 class="text-center">Booth Assistant Order Form</h2>
        <h3>Event Information</h3>
        <div class="col-md-2">
          <div class="form-group {{errorClass 'eventLocation'}}">
            <label for="type" class="required">Century Location</label>
            <select class="form-control" name="eventLocation">
              <option value="">Select a City</option>
              {{#each loc in eventLocations}}
                {{#if matchesCurrentLocation loc.value}}
                  <option value="{{loc.value}}" selected="true">{{loc.label}}</option>
                {{else}}
                  <option value="{{loc.value}}">{{loc.label}}</option>
                {{/if}}
              {{/each}}
            </select>
            <span class="help-block">{{errorMessage 'eventLocation'}}</span>
          </div>
        </div>
      </div>
      {{> formCommon}}
      <div class="row">
        <h3>Pricing Information</h3>
        <div class="col-md-6">
          <table class="table text-center">
            <tr>
              <th class="text-center lead">Assistants/Rates</th>
              <th class="text-center">Host/Hostess</th>
              <th class="text-center">Bilingual Host/Hostess</th>
            </tr>
            <tr>
              <th class="text-center">Pre-Order</th>
              <td>$25.00</td>
              <td>$30.00</td>
            </tr>
            <tr>
              <th class="text-center">On-Site</th>
              <td>$31.00</td>
              <td>$36.00</td>
            </tr>
            <tr>
              <th class="text-center">Pre-Order Overtime</th>
              <td>$37.50</td>
              <td>$45.00</td>
            </tr>
            <tr>
              <th class="text-center">On-Site Overtime</th>
              <td>$46.50</td>
              <td>$54.00</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          {{#if dateMinus21}}
            Advance payment must be received by <strong>{{dateMinus21}}</strong> to qualify for
            discount (pre-order rates). On-Site rates apply to all orders/payments received after
            <strong>{{dateMinus21}}</strong>. All payments must be made in full by check or money
            order (payable in U.S. Funds on U.S. Banks) or credit card (paid below on this form).
            No purchase orders accepted.
          {{/if}}
        </div>
      </div>
      <div class="row">
        <h3>Assistants Required</h3>
        <span class="help-block lead" style="color:red;">{{errorMessage 'workTime'}}</span>
        {{#each workTime in workTimes}}
          {{> workTimesAssistant workTime}}
        {{/each}}
      </div>
      <div class="row">
        <div class="col-sm-offset-9 col-sm-3">
          <button type="button" class="btn btn-info" id="moreWorkTimes">Add Another Time</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="comments">Special Instructions for Assistants</label>
            <textarea name="comments" class="form-control" row="6">{{comments}}</textarea>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group {{errorClass 'clothes'}}">
            <label for="clothes">Type of Apparel to be Worn</label>
            <select class="form-control" name="clothes">
              <option value="">--</option>
              {{#each dressType in dressTypes}}
                {{#if matchesDressType dressType.value clothes}}
                  <option value="{{dressType.value}}" selected="true">{{dressType.label}}</option>
                {{else}}
                  <option value="{{dressType.value}}">{{dressType.label}}</option>
                {{/if}}
              {{/each}}
            </select>
            <span class="help-block">{{errorMessage 'clothes'}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Host/Hostess Hours: </strong>{{displayCurrency totalNormal}}
        </div>
        <div class="col-md-3">
          <strong>Bilingual Host/Hostess Hours: </strong>{{displayCurrency totalBil}}
        </div>
        <div class="col-md-3">
          <strong>Host/Hostess Overtime: </strong>{{displayCurrency totalNormalOvertime}}
        </div>
        <div class="col-md-3">
          <strong>Bilingual Host/Hostess Overtime: </strong>{{displayCurrency totalBilOvertime}}
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xs-12"><h3>Overtime Policies</h3></div>
      </div>
      <div class="row">
        <div class="col-sm-6">FL, LA, IL - Overtime for booth host/hostess is based on a 40-hour work week, running Sunday – Saturday.  An 8-hour day shall include (2) 15 minute breaks and (1) hour lunch/dinner break.</div>
        <div class="col-sm-6">NV - Overtime for booth host/hostess is based on any day that exceeds 8 hour or a 40-hour work week, running Sunday – Saturday. An 8-hour day shall include (2) 15 minute breaks and (1) 30-minute lunch/dinner break.</div>
      </div>
      <div class="row">
        <h3>Billing Information</h3>
        {{> paymentMethodForm paymentMethod}}
        <div class="col-sm-9 text-right">
          {{#if paymentMethod.credit}}
            <strong>Sub-Total:</strong> <i class="fa fa-usd"></i> {{displayCurrency totalPrice}}<br/>
            <strong>Credit Card Fee (3%):</strong> <i class="fa fa-usd"></i> {{displayCurrency paymentMethod.ccFee}}<br/>
            <strong>Total:</strong> <i class="fa fa-usd"></i> {{displayCurrency paymentMethod.totalPrice}}
          {{/if}}
          {{#unless paymentMethod}}
            <strong>Sub-Total:</strong> <i class="fa fa-usd"></i> {{displayCurrency totalPrice}}<br/>
          {{/unless}}
          {{#if paymentMethod.noncredit}}
            <strong>Total:</strong> <i class="fa fa-usd"></i> {{displayCurrency totalPrice}}<br/>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <center>
          <button type="submit" class="btn btn-primary">Save Order and Proceed to Payment</button>
        </center>
      </div>
    </form>
  </div>
</template>
