<template name="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Contact Us</h3>
          <hr/>
          <p>
            Ted Gaines for Senate<br/>
            email: <a href="mailto:ted@tedgaines.com">ted@tedgaines.com</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h3>Sign Up for Our List</h3>
          <hr/>
          <p>
            Keep up with the campaign by signing up to receive emails.
          </p>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Let's Go!</button>
            </span>
          </div>
        </div>
        <div class="col-sm-4">
          <h3>Follow Us</h3>
          <hr/>
          <div class="col-md-offset-1">
            <a href="https://www.facebook.com/SenatorTedGaines/" target="_blank">
              <i class="fa fa-facebook-official fa-2x"></i>&nbsp;&nbsp;
            </a>
            <a href="https://twitter.com/senatorgaines" target="_blank">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <nav class="navbar navbar-default navbar-custom-bottom" style="margin-bottom:0;">
    <div class="container-fluid">
      Developed & Designed by Tela Edge, LLC
    </div>
  </nav>
</template>
