<template name="mainMenu">
  <!-- <div class="container-fluid top-navbar-custom">
    <div class="col-xs-8 text-left">
      <i class="fa fa-phone"></i>1-800-573-5430
      <i class="fa fa-email"></i><a href="info@centurytradeshow.com">info@centurytradeshow.com</a>
    </div>
    <div class="col-xs-4 text-right">
      Contact Us & Office Locations
    </div>
  </div> -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="/img/century-logo.png"/></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{pathFor 'aboutUs'}}">About Us</a>
          </li>
          <li>
            <a href="{{pathFor 'centuryTeam'}}">Century Team</a>
          </li>
          <li>
            <a href="{{pathFor 'services'}}">Services</a>
          </li>
          <li>
            <a href="{{pathFor 'portfolio'}}">Portfolio</a>
          </li>
          <li>
            <a href="{{pathFor 'resources'}}">Resources</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Order Forms<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{pathFor 'securityOrder'}}">Security Order Form</a>
              </li>
              <li>
                <a href="{{pathFor 'assistantOrder'}}">Booth Staffing Order Form</a>
              </li>
              <li>
                <a href="{{pathFor 'boothCamera'}}">Booth Camera Order Form</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{pathFor 'careers'}}">Careers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
