<template name="bookOrder">
  <div class="container">
    {{#if securityOrderType}}
      {{> reviewSecurityOrder order=this noncredit=noncredit}}
    {{else}}
      {{> reviewAssistantOrder order=this noncredit=noncredit}}
    {{/if}}

      <form>
        <div class="row">
          {{> billingAddress}}
          {{#if noncredit}}
            <center>
              <h3>Remit Payment To:</h3>
              <p class="lead">Century Security & Event Staffing, Inc.<br/>
              6421 Pinecastle Blvd. (Suite 1)<br/>
              Orlando, FL 32809</p>
            </center>
          {{else}}
            <center>
              <a href="/doc/credit-card form.pdf">
                <h3>Download this Form to Pay</h3>
              </a>
            </center>
          {{/if}}
        </div>
        <div class="row">
          <center>
            <button type="submit" class="btn btn-primary">Book Order</button>
          </center>
        </div>
      </form>
  </div>
</template>
