<template name="securityOrder">
  <div class="container">
    <form>
      <div class="row">
        <h2 class="text-center">Security Order Form</h2>
        <h3>Event Information</h3>
        <div class="col-md-2">
          <div class="form-group {{errorClass 'eventLocation'}}">
            <label for="type" class="required">Century Location</label>
            <select class="form-control" name="eventLocation">
              <option value="">Select a City</option>
              {{#each eventLocations}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
            <span class="help-block">{{errorMessage 'eventLocation'}}</span>
          </div>
        </div>
        <div class="col-md-6">
          {{#if conventionCenter.newOrleans}}
            <div class="form-group {{errorClass 'conventionCenter'}}">
              <label for="type" class="required">Does the event take place at the Ernest N. Morial Convention Center?</label>
              <select class="form-control" name="conventionCenter">
                <option value="">--</option>
                <option value="newOrleans">Yes</option>
                <option value="false">No</option>
              </select>
              <span class="help-block">{{errorMessage 'conventionCenter'}}</span>
            </div>
          {{else}}
            {{#if conventionCenter.orlando}}
              <div class="form-group {{errorClass 'conventionCenter'}}">
                <label for="type" class="required">Does the event take place at the Orange County Convention Center?</label>
                <select class="form-control" name="conventionCenter">
                  <option value="">--</option>
                  <option value="orlando">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
            {{/if}}
          {{/if}}
        </div>
        <div class="col-md-4 text-center">
          {{#if eventLocation}}
            <strong>Century Office Location</strong><br/>
            {{eventLocation.address}}<br/>
            {{eventLocation.cityState}}<br/>
            License #: {{eventLocation.lic}}
          {{/if}}
        </div>
      </div>
      {{> formCommon}}
      <div class="row">
        <h3>Pricing Information</h3>
        <div class="col-md-6">
          <table class="table text-center">
            <tr>
              <th class="text-center lead">Monitor Type/Rates</th>
              <th class="text-center">Pre-Order</th>
              <th class="text-center">On-Site</th>
            </tr>
            <tr>
              <th class="text-center">Unarmed Monitor</th>
              <td>$25.00</td>
              <td>$31.00</td>
            </tr>
            <tr>
              <th class="text-center">Armed Monitor</th>
              <td>$59.00</td>
              <td>$63.50</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          {{#if dateMinus21}}
            Advance payment must be received by <strong>{{dateMinus21}}</strong> to qualify for
            discount (pre-order rates). On-Site rates apply to all orders/payments received after
            <strong>{{dateMinus21}}</strong>. All payments must be made in full by check or money
            order (payable in U.S. Funds on U.S. Banks) or credit card (paid below on this form).
            No purchase orders accepted.
          {{/if}}
        </div>
      </div>
      <div class="row">
        <h3>Security Required</h3>
        <span class="help-block lead" style="color:red;">{{errorMessage 'workTime'}}</span>
        {{#each loopWorkTimes}}
          {{> workTimes}}
        {{/each}}
      </div>
      <div class="row">
        <div class="col-sm-offset-9 col-sm-3">
          <button type="button" class="btn btn-info" id="moreWorkTimes">Add Another Time</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="comments">Special Instructions</label>
            <textarea name="comments" style="min-height:12em" class="form-control" row="6"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Rules & Regulations</h3>
          <ol>
            <li>All booth monitoring personnel must be provided through Century Security.</li>
            <li>Booth monitoring personnel will remain on duty until released.</li>
            <li>There is a minimum of four (4) hours per person per shift.</li>
            <li>Armed monitor must be placed a minimum of 24 hours in advance.</li>
            <li>Booth Monitoring orders placed less than 24 hours in advance are not guaranteed</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <strong>Total Armed Hours: </strong>{{displayCurrency totalArmed}}
        </div>
        <div class="col-md-4">
          <strong>Total Unarmed Hours: </strong>{{displayCurrency totalUnarmed}}
        </div>
      </div>
      <div class="row">
        <h3>Billing Information</h3>
        {{> paymentMethodForm}}
        <div class="col-sm-9 text-right">
          <strong>Sub-Total:</strong> <i class="fa fa-usd"></i> {{displayCurrency totalPrice}}<br/>
          {{#if noncredit.selected}}
            {{#each eventLocation.fee}}
              {{#if value}}
                <strong>{{name}}:</strong> <i class="fa fa-usd"></i> {{displayCurrency value}}<br/>
              {{/if}}
            {{/each}}
            {{#unless noncredit.noncredit}}
              {{#each eventLocation.ccFee}}
                <strong>{{name}}</strong> <i class="fa fa-usd"></i> {{displayCurrency value}}<br/>
              {{/each}}
            {{/unless}}
            <strong>Total:</strong> <i class="fa fa-usd"></i> {{displayCurrency eventLocation.totalPrice}}<br/>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <center>
          <button type="submit" class="btn btn-primary">Save Order and Proceed to Payment</button>
        </center>
      </div>
    </form>
  </div>
</template>
