<template name="workTimes">
  <div class="row" name="workTime">
    <div class="col-sm-2">
      <div class="form-group {{errorClass 'type'}}">
        <label for="type" class="required">Type of Monitor</label>
        <select class="form-control" name="type">
          <option value="">Select a Monitor Type</option>
          {{#each securityType in securityTypes}}
            {{#if typeSelected securityType.value}}
              <option value="{{securityType.value}}" selected="true">{{securityType.label}}</option>
            {{else}}
              <option value="{{securityType.value}}">{{securityType.label}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="personnel" class="required"># of Personnel</label>
        <input type="number" class="form-control" name="personnel" value="{{personnel}}" min="0" step="1">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="booth" class="required">Booth Number</label>
        <input type="text" class="form-control" name="booth" value="{{booth}}">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="startTime" class="required">Start Time</label>
        <div class="input-group">
          <input type="text" class="form-control datetimepicker startTime" name="startTime" value="{{startTime}}">
          <span class="input-group-addon startTime"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="endTime" class="required">End Time</label>
        <div class="input-group">
          <input type="text" class="form-control datetimepicker endTime" name="endTime" value="{{endTime}}">
          <span class="input-group-addon endTime"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>
    </div>
  </div>
</template>
