<template name="workTimes">
  <div class="row" name="workTime">
    <div class="col-sm-2">
      <div class="form-group {{errorClass 'type'}}">
        <label for="type" class="required">Type of Monitor</label>
        <select class="form-control" name="type">
          <option value="">Select a Monitor Type</option>
          <option value="armed">Armed Monitor</option>
          <option value="unarmed">Unarmed Monitor</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group {{errorClass 'personnel'}}">
        <label for="personnel" class="required"># of Personnel</label>
        <input type="number" class="form-control" name="personnel" value="{{personnel}}">
        <span class="help-block">{{errorMessage 'personnel'}}</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group {{errorClass 'booth'}}">
        <label for="booth" class="required">Booth Number</label>
        <input type="text" class="form-control" name="booth" value="{{booth}}">
        <span class="help-block">{{errorMessage 'booth'}}</span>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group {{errorClass 'startTime'}}">
        <label for="startTime" class="required">Start Time</label>
        <div class="input-group">
          <input type="text" class="form-control datetimepicker startTime" name="startTime" value="{{startTime}}">
          <span class="input-group-addon startTime"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <span class="help-block">{{errorMessage 'startTime'}}</span>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group {{errorClass 'endTime'}}">
        <label for="endTime" class="required">End Time</label>
        <div class="input-group">
          <input type="text" class="form-control datetimepicker endTime" name="endTime" value="{{endTime}}">
          <span class="input-group-addon endTime"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <span class="help-block">{{errorMessage 'endTime'}}</span>
      </div>
    </div>
  </div>
</template>
