<template name="guardCardHelper">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="guardLicense">Guard Card License Number</label>
      <input type="text" class="form-control" name="guardLicense">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="expirationDate">Expiration Date</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" name="expirationDate">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
  </div>
</template>

<template name="nationalGuardHelper">
  <div class="col-sm-3">
    <div class="form-group">
      <label for="specialty">Specialty</label>
      <input type="text" class="form-control" name="specialty">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="enterDate">Date Entered</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" name="enterDate">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="dischargeDate">Discharge Date</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" name="dischargeDate">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
      <span class="help-block">Leave blank if currently enrolled.</span>
    </div>
  </div>
</template>

<template name="lawHelper">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="enterDateLaw">Date Entered</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" name="enterDateLaw">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="dischargeDateLaw">Discharge Date</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" name="dischargeDateLaw">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
      <span class="help-block">Leave blank if current.</span>
    </div>
  </div>
</template>

<template name="lawHelper2">
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="departmentLaw">Department</label>
        <input type="text" class="form-control" name="departmentLaw">
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label for="cityLaw">City</label>
        <input type="text" class="form-control" name="cityLaw">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label for="stateLaw">State</label>
        <select class="form-control" name="stateLaw">
          <option value="">--</option>
          {{#each state}}
            <option value="{{abbreviation}}">{{abbreviation}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</template>
