<template name="careers">
  <div class="container">
    <form novalidate="true">
      <div class="row">
        <h2 class="text-center">Employment Form</h2>
        <h3>General Information</h3>
      </div>
      {{> billingAddress}}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'cellPhone'}}">
            <label for="cellPhone" class="required">Cell Phone</label>
            <input type="tel" class="form-control" name="cellPhone" placeholder="XXX-XXX-XXXX" required="true">
            <span class="help-block">{{errorMessage 'cellPhone'}}</span>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="homePhone">Home Phone</label>
          <input type="tel" class="form-control" name="homePhone" placeholder="XXX-XXX-XXXX">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'birthDate'}}">
            <label for="birthDate" class="required">Date of Birth</label>
            <div class="input-group">
              <input type="text" class="form-control datepicker" name="birthDate" required="true">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            <span class="help-block">{{errorMessage 'birthDate'}}</span>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="ssn">Social Security Number</label>
          <input type="password" class="form-control" name="ssn" placeholder="XXX-XX-XXXX">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'jobSource'}}">
            <label for="jobSource" class="required">Where did you see our job posting?</label>
            <select class="form-control" name="jobSource" required="true">
                <option value="">--</option>
                <option value="website">Century's Website</option>
                <option value="facebook">Facebook</option>
                <option value="craigslist">Craigslist</option>
                <option value="other">Other</option>
            </select>
            <span class="help-block">{{errorMessage 'jobSource'}}</span>
          </div>
        </div>
        {{#if otherSource}}
          <div class="col-sm-6">
            <div class="form-group {{errorClass 'otherSource'}}">
              <label for="otherSource" class="required">Other Source</label>
              <input type="text" class="form-control" name="otherSource" required="true">
              <span class="help-block">{{errorMessage 'otherSource'}}</span>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="row">
        <h3>Availability and Transportation <small>All work is part-time on call and not guaranteed week to week</small></h3>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="startDate">Available to Start Work</label>
            <div class="input-group">
              <input type="text" class="form-control datepicker" name="startDate">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="hoursWeek">Hours per Week Available to Work</label>
            <input type="text" class="form-control" name="hoursWeek">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="nights">Can you work nights?</label>
            <select class="form-control" name="nights">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="ged">Do you have a High School Diploma/GED?</label>
            <select class="form-control" name="ged">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="license">Do you have a driver's license?</label>
            <select class="form-control" name="license">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="ged">What is your means of transportation?</label>
            <select class="form-control" name="transportation">
                <option value="">--</option>
                <option value="car">Personnal Vehicle</option>
                <option value="public">Public (Bus or Rail)</option>
                <option value="walking">Walking or Bicycle</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>Certifications & Experience</h3>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="guardCard">Do you have a Guard Card?</label>
            <select class="form-control" name="guardCard">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
        {{#if guardCard}}
          {{> guardCardHelper}}
        {{/if}}
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="armedForces">Have you ever been in the armed forces?</label>
            <select class="form-control" name="armedForces">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
        {{#if armedForces}}
          <div class="col-sm-4">
            <div class="form-group">
              <label for="armedBranch">What branch of the military?</label>
              <select class="form-control" name="armedBranch">
                  <option value="">--</option>
                  <option value="airforce">Air Force</option>
                  <option value="army">Army</option>
                  <option value="coastguard">Coast Guard</option>
                  <option value="marine">Marine Corps</option>
                  <option value="navy">Navy</option>
              </select>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="nationalGuard">Are you in the National Guard?</label>
            <select class="form-control" name="nationalGuard">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
        {{#if nationalGuard}}
          {{> nationalGuardHelper}}
        {{/if}}
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="law">Have you ever served in law enforcement?</label>
            <select class="form-control" name="law">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
        {{#if law}}
          {{> lawHelper}}
        {{/if}}
      </div>
        {{#if law}}
          {{> lawHelper2}}
        {{/if}}
      <div class="row">
        <h3>References & Past Work Experiences</h3>
        <div class="row">
          <div class="col-xs-12">
            <h4>Please list two references other than relatives or previous employers.</h4>
          </div>
        </div>
        <div class="row">
          {{#each referenceCount}}
            <div class="col-sm-6">
              {{> reference}}
            </div>
          {{/each}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Please list work experience for the past five years beginning with the most recent
          job held. If you were self-employed, give firm name.</h4>
        </div>
      </div>
      {{#each workExperience}}
        {{> experience}}
      {{/each}}
      <div class="row" style="margin-bottom:15px;">
        <div class="col-sm-offset-9 col-sm-3">
          <button type="button" class="btn btn-info" id="moreEmployment">Add Another Employer</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="currentEmployer">May we contact your current employer?</label>
            <select class="form-control" name="currentEmployer">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="fillOut">Did you fill out this application yourself?</label>
            <select class="form-control" name="fillOut">
                <option value="">--</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
          </div>
        </div>
        {{#if fillOut}}
          <div class="col-sm-4">
            <div class="form-group">
              <label for="fillOutWho">Who filled it out?</label>
              <input type="text" class="form-control" name="fillOutWho">
            </div>
          </div>
        {{/if}}
      </div>
      <div class="row">
        <h3>Emergency Contact</h3>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="emergencyName">Emergency Contact name</label>
            <input type="text" class="form-control" name="emergencyName">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="emergencyRelationship">Relationship</label>
            <input type="text" class="form-control" name="emergencyRelationship">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="emergencyPhone">Phone Number</label>
            <input type="text" class="form-control" name="emergencyPhone">
          </div>
        </div>
      </div>
      <div class="row">
        <center>
          <button type="submit" class="btn btn-primary">Submit Application</button>
        </center>
      </div>
    </form>
  </div>
</template>
