<template name="reference">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="firstName{{index}}">First Name</label>
      <input type="text" class="form-control" name="firstNameR{{index}}">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <label for="lastNameR{{index}}">Last Name</label>
      <input type="text" class="form-control" name="lastNameR{{index}}">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <label for="positionR{{index}}">Position</label>
      <input type="text" class="form-control" name="positionR{{index}}">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <label for="companyR{{index}}">Company</label>
      <input type="text" class="form-control" name="companyR{{index}}">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <label for="phoneR{{index}}">Phone</label>
      <input type="tel" class="form-control" name="phoneR{{index}}" placeholder="XXX-XXX-XXXX">
    </div>
  </div>
</template>
