<template name="aboutUs">
  <div class="container">
    <div class="row mission-container">
    <h2 class="mission text-center">OUR MISSION:</h2>
    <p class="mission-paragraph text-center">
      To achieve the highest level of customer satisfaction by maintaining our integrity and providing the quality of service that our clients have come to expect from <em>every</em> member of our team, to ensure the <strong>safety, security</strong>, and <strong>success</strong> of the events we serve.
    </p>
  </div>
</div>
  <div class="container">
    <div class="row about-us-container">
      <h2 class="text-center about-title">ABOUT</h2>
      <p class="text-center about-paragraph">
        Century plans to set a new standard for the quality of service within our industry.  We aim to set ourselves apart from our competitors by reaching new levels of customer satisfaction. We hope our reputation will allow us to expand even further into every major convention and trade show destination in the country, and become a household name within the industry. We will <strong>achieve our vision</strong> through our dedication to our clients, our devotion of time and effort to every individual event, the facilitation of teamwork by the division of tasks and collaboration of efforts towards the common goal of success, by making ourselves available always, and by restoring the sense of a personal touch. Our core values are our guiding principles.  They guide us to carry out our mission and envision our future. The core values that Century believes in include the following: <strong>honesty, integrity, fairness, dedication</strong>, and <strong>hard work</strong>.
      </p>
    </div>
  </div>
  <div class="container-fluid about-bottom">
  </div>
    <div class="container-fluid about-bottom-yellow">
    </div>
</template>
