<template name="aboutUs">
  <div class="container regular-page">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Our Mission</h2>
      </div>
      <div class="panel-body lead">
        To achieve the highest level of customer satisfaction by maintaining our integrity and providing the quality of service that our clients have come to expect from every member of our team, to ensure the safety, security, and success of the events we serve.
      </div>
    </div>
    <p>
      Century plans to set a new standard for the quality of service within our industry.  We aim to set ourselves apart from our                competitors by reaching new levels of customer satisfaction.  We hope our reputation will allow us to expand even further into every major convention and trade show destination in the country, and become a household name within the industry. We will achieve our vision through our dedication to our clients, our devotion of time and effort to every individual event, the facilitation of teamwork by the division of tasks and collaboration of efforts towards the common goal of success, by making ourselves available always, and by restoring the sense of a personal touch. Our core values are our guiding principles.  They guide us to carry out our mission and envision our future. The core values that Century believes in include the following: honesty, integrity, fairness, dedication, and hard work.
    </p>
  </div>
</template>
