<template name="centuryTeam">
  <div class="container-fluid">
    <div class="row text-center yellow-container">
      <h2>Century Team of Orlando</h2>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      {{#each employeeOrlando}}
        {{> centuryTeamMember}}
      {{/each}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row text-center yellow-container">
      <h2>Century Team of Las Vegas</h2>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      {{#each employeeVegas}}
        {{> centuryTeamMember}}
      {{/each}}
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <h4><a href="{{pathFor 'inMemoriam'}}">
        <button type="button" class="btn btn-default">
          William Callaghan <br/>In Memoriam
        </button>
      </a></h4>
    </div>
  </div>
</template>

<template name="centuryTeamMember">
  <div class="col-md-4" style="padding-bottom:25px;">
    <h3 class="person-name"><i class="fa fa-user"></i> {{name}}</h3>
    <small>{{title}}</small><br/>
    <a href="mailto:{{email}}">{{email}}</a>
  </div>
</template>
