<template name="centuryTeam">
  <div class="regular-page">
    <div class="container-fluid yellow-container">
      <center>
        <h1>Century Team of Orlando</h1>
      </center>
    </div>
    <div class="container">
      {{#each employeeOrlando}}
        {{> centuryTeamMember}}
      {{/each}}
    </div>
    <div class="container-fluid yellow-container">
      <center>
        <h1>Century Team of Orlando</h1>
      </center>
    </div>
    <div class="container">
      {{#each employeeVegas}}
        {{> centuryTeamMember}}
      {{/each}}
    </div>
  </div>
</template>

<template name="centuryTeamMember">
  <div class="col-md-4" style="padding-bottom:25px;">
    <h3 class="person-name"><i class="fa fa-user"></i> {{name}}</h3>
    <small>{{title}}</small><br/>
    <a href="mailto:{{email}}">{{email}}</a>
  </div>
</template>
