<template name="centuryTeam">
  <div class="container-fluid">
    <div class="row text-center yellow-container">
      <h2>Century Team</h2>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      {{#each employee in employees}}
        {{> centuryTeamMember employee}}
      {{/each}}
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <a href="{{pathFor 'inMemoriam'}}">
        <button type="button" class="btn btn-primary" style="margin-bottom:15px;padding:5px;">
          <h3 class="person-name" style="padding:0; margin:0;"><i class="fa fa-user"></i> William Callaghan <br/>In Memoriam</h3>
        </button>
      </a>
    </div>
  </div>
</template>

<template name="centuryTeamMember">
  <div class="col-md-4" style="padding-bottom:25px;">
    <h3 class="person-name"><i class="fa fa-user"></i> {{name}}</h3>
    <small>{{title}}</small><br/>
    <a href="mailto:{{email}}">{{email}}</a>
  </div>
</template>
