<template name="contactUs">
  <div class="container-fluid" style="padding-top:60px;">
    <div class="row blue-contact">
    <h2 class="text-center">CONTACT US</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form style="padding:15px 0;">
          <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name">
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email">
          </div>
          <div class="form-group col-xs-12">
            <label for="comments">Message</label>
            <textarea class="form-control" row="6" name="comments">
            </textarea>
          </div>
          <center>
            <button type="submit" class="btn btn-primary">Submit</button>
          </center>
        </form>
      </div>
      <div class="col-md-4">
        <h5 class="text-center"><em>Company Info</em></h5>
        <p class="text-center">Christopher LeCours<br>
          Director of Sales & Marketing<br>
          <i class="fa fa-phone fa-lg"></i>   1-800-573-5430<br>
          <i class="fa fa-envelope fa-lg"></i>  <a href="mailto:clecours@centurytradeshow.com">clecours@centurytradeshow.com</a><br>
          <i class="fa fa-envelope fa-lg"></i>  <a href="mailto:info@centurytradeshow.com">info@centurytradeshow.com</a></p>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row blue-contact">
    <h3 class="text-center">Century Security & Event Staffing<br>Office Locations</h3>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row map-background">
      <div class="container">
        {{> googleMap name="locationsMap" options=locationsMapOptions}}
      </div>
    </div>
    <div class="row locations-background text-center">
      <div class="col-sm-4 col-xs-6">
        <p>
          LAS VEGAS OFFICE<br>
          <i class="fa fa-map-marker" style="color:#f9dd00"></i> 4945 Wilbur St.<br/>
          Las Vegas, NV 89119<br/>
          <i class="fa fa-phone" style="color:#f9dd00"></i> 702-262-7851<br/>
          <i class="fa fa-fax" style="color:#f9dd00"></i> 702-262-1940<br/>
          LIC # 1315
        </p>
      </div>
      <div class="col-sm-4 col-xs-6">
        <p>
          CHICAGO OFFICE<br>
          <i class="fa fa-map-marker" style="color:#f9dd00"></i> 5334 S Archer Ave. Suite B<br/>
          Chicago, IL 60632<br/>
          LIC # 119.001474
        </p>
      </div>
      <div class="col-sm-4 col-xs-6">
        <p>
          NEW ORLEANS OFFICE<br/>
          <i class="fa fa-map-marker" style="color:#f9dd00"></i> 2601 N. Hullen St.<br/>
          Metairie, LA 70002<br/>
          <i class="fa fa-phone" style="color:#f9dd00"></i> 504-483-8055<br/>
          <i class="fa fa-fax" style="color:#f9dd00"></i> 504-483-8056<br/>
          LIC # 790
        </p>
      </div>
    </div>
    <div class="row locations-background text-center">
      <div class="col-sm-4 col-xs-6">
        <p>
          ORLANDO OFFICE<br/>
          <i class="fa fa-map-marker" style="color:#f9dd00"></i> 6421 Pinecastle Blvd., Suite 1<br/>
          Orlando, FL 32809<br/>
          <i class="fa fa-phone" style="color:#f9dd00"></i> 407-226-1168<br/>
          <i class="fa fa-fax" style="color:#f9dd00"></i> 407-226-7076<br/>
          LIC # B-2000104
        </p>
      </div>
      <div class="col-sm-4 col-xs-6">
        <p>
          MIAMI OFFICE<br/>
          <i class="fa fa-map-marker" style="color:#f9dd00"></i> 7901 SW 24th St.<br/>
          Miami, FL 33155<br/>
          LIC # B-2000104
        </p>
      </div>
      <div class="col-sm-4 col-xs-6">
        <p>
          SATELLITE OFFICES<br/>
          ARIZONA OFFICE<br/>
          <i class="fa fa-map-marker" style="color:#f9dd00"></i> 5425 E Broadway Blvd.<br/>
          Tucson, AZ 85711<br/>
          LIC # 1658251
        </p>
        <p>
          NASHVILLE OFFICE<br/>
          <i class="fa fa-map-marker" style="color:#f9dd00"></i> LIC # 12996
        </p>
      </div>
    </div>
  </div>
</template>
