<template name="home">
  <header class="intro-header" style="background-image:  linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ), url('img/city-background.jpeg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Century Security & Event Staffing</h1>
            <hr class="small">
            <span class="subheading">
              Security is Everyone's Concern...<br/>
              But It's Our Business
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid section-2">
    <div class="row container">
      <div class="col-md-6">
        {{> homepageCarousel}}
      </div>
      <div class="col-md-6">
        Established in 2000, Century Security & Event Staffing, Inc. specializes in providing security and event staffing for conventions and trade shows. We have strategically placed our offices in the major exhibition industry cities across the United States: Orlando, Las Vegas, New Orleans, Miami, and Chicago. Whether you are looking for a consulting team, full building security, booth security, executive protection, and/or event staffing we can fulfill your needs!
      </div>
    </div>
  </div>
  <div class="row container read-more-row">
    <h3><center>Read what our clients are saying...</center></h3>
  </div>
  <div class="container-fluid quotes">
    <div class="row container">
      <div class="col-md-4">
        <center>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-quote-right fa-stack-1x "></i>
          </span>
        </center>
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="lead"><div style="font-style: italic;">We used the services of Century Security & Event Staffing, Inc. for the 10th Latin Grammy Awards in Las Vegas. The event is a complex one with a multitude of security concerns. Century Security responded to all of the challenges that such an event creates with calm and professionalism. Anybody with experience in this type of event knows how plans are constantly changing and the importance of being able to deal with unexpected situations. In this regard Century Security were exemplary. I can give them no higher praise than to say that we will certainly be using them again in the future.</div><br/>
              Clive Tricker<br/>
              President, CT Consultations, 2009 Latin Grammy Awards</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <center>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-quote-right fa-stack-1x "></i>
          </span>
        </center>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><div style="font-style: italic;">Century Security’s capabilities to effectively handle and find solutions to emergencies and special requests are true testaments of the superior services that you provided to us. Please extend our most sincere appreciation to all of your staff and Century Security leadership for a job well done!</div><br/>
              Dennis Quilles<br/>
              Director of Corporate Safety & Security, McDonald's Corporation</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <center>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-quote-right fa-stack-1x "></i>
          </span>
        </center>
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="lead"><div style="font-style: italic;">On behalf of the entire Events by Design, Inc team, I would like to say thank you for the top quality support and services your team provided that helped made the DoD Worldwide Education Symposium 2012 in Las Vegas a success. We could not have provided such as bast range of event management services for our client if it were not leveraging your expertise in security. We appreciate the professionalism of your staff and your flexibility to adapt to all necessary on-site changes. As a full-service event management and marketing company, we are pleased to have had this opportunity to work with you and gladly recommend your business to industry partners. We wish for your continued success and look forward to continuing our partnership whenever we are given opportunities in the future. Thank you again.</div><br/>
              Vinnu Kudva & Kristy Fowler<br/>
              President and CEO, Events by Design, Inc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
