<template name="inMemoriam">
  <div class="container">
    <div class="row-william">
      <div class="col-md-4">
          <img class="img-responsive img-rounded center-block" src="/img/bill/papa-bill-uniform-169x300.jpg">
      </div>
      <div class="col-md-8">
      <h2>William M. Callaghan</h2>
      <h4>In Memoriam<br/>12-12-1942 to 1-31-2011</h4>
      <p>Bill Callaghan was born in Chicago, IL on December 12, 1942 to James and Ruth Callaghan.  He had 5 siblings:  John, James, Patrick, Mike, and Ruth.  He dreamed of becoming a Chicago policeman, like his father and grandfather before him.  Bill worked diligently and tirelessly in pursuit of his dream.  He graduated from the police academy in 1965.  He served the city for 33 years, rising through the ranks to retire as Commander of Intelligence.  During this time, he also managed security for the United Center and Comiskey Park- where the Chicago Bulls and White Sox play.<br/>
        Upon retirement, Bill moved to New Mexico with his family.  The rest and relaxation were nice, but he was a hard worker and therefore could not give up working so easily.  He volunteered with the local fire department fighting forest fires, and he flew back and forth between Orlando and Las Vegas to work as a floor manager for various conventions and trade shows.  In fact, he liked it so much that in 2003 he accepted an offer to run a security company based in Orlando – Century Security and Event Staffing.<br/>
        Bill presided over Century for the rest of his life.  He noted that some of his fondest memories were riding along the show floor in his cart, working alongside his brother Mike and granddaughter Caitlyn.  Bill earned the trust, respect, and adoration of virtually every client Century served.  He is loved and missed by all who have encountered him.<br>
        Bill is survived by his wife of 18 years, Jean, his children, Bill Jr. (Kris), Karen Holvick (Tony), Laura Lindsey (Jerry), Brian (Sandi), Barrett(Susie), Jim (Peggy), Molly, and his grandchildren, Bill III, Matt, Anthony, Caitlyn, Kierstin, Annie, Julia, Colin, Jerry, Josh, Jack, Ryan, Cade, Kellie, Grace, Annie, Caroline, Claire, Quinn and Hugh. He is also survived by his first wife and friend, Maureen Callaghan, and his siblings, John (Nancy), Ruth (Ron), Mike (Beth), his brother-in-law Jim, his sisters-in-law Ann, Maryanelle, Judy, and Mary, as well as many nieces, nephews and friends.</p>
      </div>
    </div>
  </div>
</template>
