<template name="portfolio">
  <div class="container-fluid yellow-container events-container">
    <center>
      <h1>Below are some events that we have provided our services for:</h1>
    </center>
  </div>
  <div class="container-fluid portfolio">
    <div class="row">
      <div class="col-md-3">
        <div class="hovereffect">
          <img class="img-responsive" src="/img/events portfolio pics/NBAA-logo.png">
          <div class="overlay">
            <h2>NBAA</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/ISA_Expo2015_CMYK.54888fa31c8e5-e1447559426716.jpg">
        <div class="overlay">
          <h2>INTERNATIONAL SIGN EXPO-2012</h2>
          <p>Orange County Convention Center<br/>
          19,000 Attendees
        </p>
      </div>
      </div>
      </div>
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/Florida-Restaurant-Lodging-Show.jpg">
        <div class="overlay">
          <h2>FLORIDA RESTAURANT SHOW</h2>
          <p>Orange County Convention Center<br/>
          11,000 Attendees</p>
        </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/mcdonalds-e1447534280652.jpg">
        <div class="overlay">
          <h2>McDONALD'S Co. WORLDWIDE CONFERENCE-2012</h2>
          <p>Orange County Convention Center<br/>
          13,000 Attendees</p>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/CelebrationIV1-e1447563864940.jpg">
        <div class="overlay">
          <h2>STAR WARS CELEBRATION IV</h2>
          <p>Orange County Convention Center<br/>
          32,000 Attendees
        </p>
      </div>
      </div>
    </div>
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/NPE-2015-Plastics-Showcase2.jpg">
        <div class="overlay">
          <h2>INTERNATIONAL PLASTICS SHOWCASE</h2>
          <p>Orange County Convention Center<br/>
          55,000 Attendees</p>
        </div>
      </div>
      </div>
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/PGA.jpg">
        <div class="overlay">
          <h2>PGA MERCHANDISE SHOW 2012</h2>
          <p>Orange County Convention Center<br/>
            42,000 Attendees
          </p>
        </div>
      </div>
      </div>
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/SHOTShowblacktype.jpg">
        <div class="overlay">
          <h2>SHOT SHOW 2012</h2>
          <p>Sands Expo & Convention Center<br/>
          61,000 Attendees</p>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/jck_lasvegas_logo.jpg">
        <div class="overlay">
          <h2>JCK JEWELRY SHOW</h2>
          <p>Mandalay Bay<br/>
          30,000 Attendees</p>
        </div>
      </div>
    </div>
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/Latingrammylogo.jpg">
        <div class="overlay">
          <h2>LATIN GRAMMY AWARDS</h2>
          <p>Mandalay Bay<br/>
          50,000 Attendees</p>
        </div>
      </div>
      </div>
      <div class="col-md-3">
          <div class="hovereffect">
        <img class="image-responsive" src="/img/events portfolio pics/2014-SCI-Convention-logo-FINAL-1024x900.jpg">
        <div class="overlay">
          <h2>SAFARI CLUB INTERNAIONAL ANNUAL HUNTERS' CONVENTION</h2>
          <p>Mandalay Bay<br/>
            20,000 Attendees</p>
      </div>
      </div>
    </div>
  </div>
</div>
  <div class="container-fluid yellow-container people-container">
    <center>
      <h1>These are some of the people that we have protected:</h1>
    </center>
  </div>
    <div class="container-fluid portfolio">
  <div class="row">
    <div class="col-md-3">
      <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/shakira-pregnant-600x450.jpg">
      <div class="overlay">
        <h2>Shakira</h2>
     </div>
     </div>
   </div>
    <div class="col-md-3">
      <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/enrique-iglesias-83.jpeg">
      <div class="overlay">
        <h2>Enrique Iglesias</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/Sofia.jpg">
      <div class="overlay">
          <h2>Sofia Vergara</h2>
      </div>
    </div>
  </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/eva.jpeg">
      <div class="overlay">
          <h2>Eva Longoria</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/artistpage_dollyparton.jpg">
      <div class="overlay">
          <h2>Dolly Parton</h2>
      </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/colinp.jpg">
      <div class="overlay">
          <h2>General Colin Powell</h2>
      </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/billc.jpeg">
      <div class="overlay">
          <h2>Bill Clinton</h2>
      </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/20130405-dwight-yoakam-x306-1366034002.jpg">
      <div class="overlay">
          <h2>Dwight Yoakam</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/tobykeith.jpg">
      <div class="overlay">
          <h2>Toby Keith</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/LeAnn-Rimes.jpg">
      <div class="overlay">
          <h2>LeAnn Rimes</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/dennis-miller.jpg">
      <div class="overlay">
          <h2>Dennis Miller</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/Bill_Engvall_2010-1024x683.jpg">
      <div class="overlay">
          <h2>Bill Engvall</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/sheryl-crow.jpg">
      <div class="overlay">
          <h2>Sheryl Crow</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/eric-clapton.jpg">
      <div class="overlay">
          <h2>Eric Clapton</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/santana.jpg">
      <div class="overlay">
          <h2>Santana</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/0204_los_lonely_boys_c.jpg">
      <div class="overlay">
          <h2>Los Lonely Boys</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/aerosmith9.jpg">
      <div class="overlay">
          <h2>Aero Smith</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/ty-pennington.png">
      <div class="overlay">
          <h2>Ty Pennington</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/travistritt20-336x280.jpg">
      <div class="overlay">
          <h2>Travis Tritt</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/al_gore.jpg">
      <div class="overlay">
          <h2>Al Gore</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/chris_evert-e1448585361582.jpg">
      <div class="overlay">
          <h2>Chris Evert</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/ernie-els_2284401b.jpg">
      <div class="overlay">
          <h2>Ernie Els</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/Bill-OReilly-finger-point.jpg">
      <div class="overlay">
          <h2>Bill O'Reilly</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/miss-california-loses-crown-368x276.jpg">
      <div class="overlay">
          <h2>Carrie Prejean</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/timmcgraw.jpg">
      <div class="overlay">
          <h2>Tim McGraw</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/faith-hill.jpg">
      <div class="overlay">
          <h2>Faith Hill</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/palin2n-1-web.jpg">
      <div class="overlay">
          <h2>Sarah Palin</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/Diana-Ross_3944-1024x926.jpg">
      <div class="overlay">
          <h2>Diana Ross</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/WWSG-Newt-Gingrich.jpg">
      <div class="overlay">
          <h2>Newt Gingrich</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/corporate.jpg">
      <div class="overlay">
          <h2>corporate executives</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/ufc-logo-black-bkgd-1024x674.jpg">
      <div class="overlay">
          <h2>UFC Fighters</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/U2.jpeg">
      <div class="overlay">
          <h2>U2</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/Justin-Timberlake-20-20-Experience_510x510.jpg">
      <div class="overlay">
          <h2>Justin Timberlake</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/gregnorman-1024x736.jpg">
      <div class="overlay">
          <h2>Greg Norman</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/ginblossoms.jpg">
      <div class="overlay">
          <h2>Gin Blossoms</h2>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/Goo_Goo_Dolls_Black_Balloon.jpg">
      <div class="overlay">
          <h2>Goo Goo Dolls</h2>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <div class="hovereffect">
      <img class="image-responsive" src="/img/people portfolio/the-black-crowes-ii-1024x704.jpg">
      <div class="overlay">
          <h2>The Black Crowes</h2>
      </div>
    </div>
    </div>
  </div>
</div>
</template>
