<template name="resources">
  <div class="container-fluid">
    <div class="row" style="position:relative;">
      <img class="img-responsive resource-image" style="min-height:200px;" src="/img/resource home page.jpeg">
      <h2 class="resource-title" style="position:absolute;top:50px;left:75px;">Security Resource<br/>Center</h2>
    </div>
  </div>
  <div class="container">
    <h3>Read More About Us</h3>
    <p class="lead">Century Security has been a valued partner of our company for approximately 10 years.  Their consistent high level of service is what separates them from the competition.  They have provided us security services for our events nationwide, large and small.  This is a testament to the professionalism of their event managers and leadership.

Cory Keith, Manager – Meeting and Event Security, McDonald’s Corporation</p>
    <blockquote>
      <p>At both the PGA Merchandise Show in Orlando and ISC West in Las Vegas, Century is one of the most responsive and accommodating firms I have worked with. I always feel confident that any situation or request will be given the proper attention and seen through to the end.</p>
      <footer>Jason Cedrone<br/><cite title="Source Title">Senior Operations Manager, Reed Exhibitions</cite></footer>
    </blockquote>
    <hr/>
    <blockquote>
      <p>Again thank you to you and your team for an exceptional security personnel, never have I seen such professional[ism] from a security team. Again thank you and we look forward to continuing working with you in the future.</p>
      <footer>Dania Echeverri<br/><cite title="Source Title">Universal Music Group, 2009 Latin Grammy Awards Universal After Party</cite></footer>
    </blockquote>
    <hr/>
    <blockquote>
      <p>Having used Century Security for several years on our American College of Cardiology annual meeting and expo (in addition to having worked with them prior to joining ACC), I’ve always appreciated the high level of professionalism and dedication to our account. Century’s event managers always seem to pride themselves on running a tight ship and being responsive to the needs of all the players on our large event management staff – including floor managers, general contractor, and other key vendors. The company’s management really becomes part of our “team” in advance of the meeting and on-site. Century knows what’s needed to ensure a safe and secure meeting for all participants, and I’ve enjoyed working with them.</p>
      <footer>Kent Riffert<br/><cite title="Source Title">Associate Director – Exposition Logistics, American College of Cardiology</cite></footer>
    </blockquote>
    <hr/>
    <blockquote>
      <p>We did receive excellent feedback on the service. We look forward to more and future cooperative venture.</p>
      <footer>John Engbeck<br/><cite title="Source Title">American Private Security, Inc., Andre Agassi Book Signing</cite></footer>
    </blockquote>
  </div>
</template>
