<template name="boothCamera">
  <div class="container">
    <form>
      <div class="row">
        <h2 class="text-center">Booth Camera Order Form</h2>
        <hr/>
        <h4>
          In-Booth CCTV Systems and Booth Monitoring Personnel to be provided by Century Security
        </h4>
        <p>
          Century Security, is offering CCTV (Closed Circuit Television) systems to the exhibitors for this event, for use in their booth or meeting room space.  These CCTV system are offered in
          conjunction with either armed or unarmed security officers for use during the event.  The pricing for these systems includes installation/dismantle, the number of digital cameras by package, DVR (Digital Video Recorder), 24 hour real-time digital recording.  Monitors are sold separately. Each systems has the capability of writing the video to USB drive, but is only completed if an incident occurs at the booth. We advise you to contact your insurance company prior to completing your order to ensure you have met their requirements. For orders placed in advance of the move in of the show, the CCTV system rented will be set the day prior to the event, at which time the recording will begin, recording will stop when the unit is removed from the booth on the evening the event closes. Additional cameras are also available as rentals.
        </p>
        <hr/>
        <h3>Event Information</h3>
        <div class="col-md-2">
          <div class="form-group {{errorClass 'eventLocation'}}">
            <label for="type" class="required">Century Location</label>
            <select class="form-control" name="eventLocation">
              <option value="">Select a City</option>
              {{#each eventLocations}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
            <span class="help-block">{{errorMessage 'eventLocation'}}</span>
          </div>
        </div>
      </div>
      {{> formCommon}}
    </form>
  </div>
</template>
